!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='css/style.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
    link(href='http://fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Luckiest+Guy', rel='stylesheet', type='text/css')
  body
  body(ng-controller='myControl')
      div
        img.image_6(src='images/8_1.png')

       
      h2 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp #{user.username} 
         |  is connected on HIPSTERSHOP
       
       
      a.linked_accueil(href='/index.html') Accueil
    
    

